<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab2" (click)="changeIconChat()">
      <ion-icon [name]="iconChat" color="custom1"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab1" (click)="changeIconHome()">
      <ion-icon [name]="iconHome" color="custom1"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3" (click)="changeIconPerson()">
      <ion-icon [name]="iconPerson" color="custom1"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
