<app-splash></app-splash>
<sk-chase></sk-chase>

<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header class="ion-no-border">
      <div class="header-menu">
        <!-- <ion-avatar slot="start">
          <img src="./assets/svg/user.svg" />
        </ion-avatar>
        <ion-toolbar>
          <h6>{{ dataProvider.userData.name }}</h6>
          <p class="cellphone" *ngIf="dataProvider.userData.cellPhone">
            <ion-icon
              slot="start"
              name="call-outline"
              class="icon-texto-header-menu"
            ></ion-icon>
            {{ dataProvider.userData.cellPhone }}
          </p>
          <hr />
          <p class="email">
            <ion-icon
              slot="start"
              name="mail-outline"
              class="icon-texto-header-menu"
            ></ion-icon>
            {{ dataProvider.userData.email }}
          </p>
        </ion-toolbar> -->
      </div>
      <div class="header-content">
        <img src="./assets/svg/user.svg" />
        <ion-label>
          <h2>{{ dataProvider.userData.name }}</h2>
          <p>{{ dataProvider.userData.email }}</p>
        </ion-label>
      </div>
    </ion-header>

    <ion-content>
      <ion-list class="menu-items">
        <ion-item lines="none" *ngFor="let option of navigations" [ngClass]="{'active': option.selected}" (click)="optionClick(option.id)">
          <ion-icon [name]="option.icon" slot="start"></ion-icon>
          {{ option.name }}
        </ion-item>

        <ion-item lines="none" [ngClass]="{'active': isLogout}" (click)="logout()">
          <ion-icon name="log-out" slot="start"></ion-icon>
          Cerrar sesión
        </ion-item>
      </ion-list>
    </ion-content>

    <ion-footer class="ion-no-border">
      <ion-toolbar>
        <ion-badge color="dark" mode="ios">v1.0.0</ion-badge>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
