<app-splash></app-splash>
<sk-chase></sk-chase>

<ion-app>
  <ion-menu *ngIf="dataProvider.state" side="start" menuId="first" contentId="main">
    <ion-header class="ion-no-border">
      <div class="header-menu">
      </div>
      <div class="header-content">
        <img src="./assets/svg/user.svg" />
        <ion-label>
          <h2>{{ dataProvider.userData.name }}</h2>
          <p>{{ dataProvider.userData.email }}</p>
        </ion-label>
      </div>
    </ion-header>

    <ion-content>
      <ion-list class="menu-items">
        <ion-menu-toggle *ngFor="let option of navigations">
          <ion-item lines="none" [routerLink]="option.redirect" [ngClass]="{'active': option.selected}" (click)="optionClick(option.id)">
            <ion-icon [name]="option.icon" slot="start"></ion-icon>
            {{ option.name }}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" [ngClass]="{'active': isLogout}" (click)="logout()">
            <ion-icon name="log-out" slot="start"></ion-icon>
            Cerrar sesión
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

    </ion-content>

    <ion-footer class="ion-no-border">
      <ion-toolbar>
        <ion-badge color="dark" mode="ios">v1.0.0</ion-badge>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
