<app-header titulo="Registro" mode="ios"></app-header>

<ion-content class="ion-padding">
    <form mode="ios" class="ion-padding" class="inp">

        <div>
            <ion-item mode="ios">
                <ion-input placeholder="Nombre"></ion-input>
            </ion-item>

            <ion-item mode="ios">
                <ion-input placeholder="Apellido"></ion-input>

            </ion-item>

            <ion-item mode="ios">

                <ion-input placeholder="Correo"></ion-input>
            </ion-item>

            <ion-item mode="ios">
                <ion-input placeholder="Contraseña" [type]="showPassword ? 'text': 'password' "></ion-input>
                <ion-icon color="primary" slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
            </ion-item>
        </div>

        <ion-row class="ion-padding">
            <ion-col>
                <ion-button type="submit" expand="block">
                    <p>Registrarse</p>
                </ion-button>
                <a class="ion-padding" class="small-text">Ya tienes cuenta?<b routerLink="/login"> Ingresa aquí</b></a>

            </ion-col>
        </ion-row>

    </form>



</ion-content>