* {
    font-weight: 500;
}

ion-content {
    --background: #ffffff;
}

ion-text {
    position: absolute;
    color: #244da7;
    margin-top: 200px;
    top: 15%;
    font-family: sans-serif;
    h2 {
        margin-top: 50px;
        font-size: 40px;
    }
    p {
        font-size: 16px
    }
}

.actions {
    position: absolute;
    width: 90%;
    bottom: 16px;
}

ion-button {
    --border-radius: 20px;
    --box-shadow: none;
    text-transform: initial;
    font-size: 16px;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
    ion-button {
        width: 50%;
        font-family: sans-serif;
        --background: #fff;
        --border-style: solid;
        --border-width: 0.5px;
    }
    ion-avatar {
        height: 16px;
        width: 16px;
        margin-right: 7px;
        margin-bottom: 1px;
    }
}

.separator {
    display: flex;
    justify-content: center;
    margin: 8px auto 10px;
    font-size: 12px;
    position: relative;
    .line {
        position: absolute;
        border-top: solid #dfdfdf;
        width: 50px;
        height: 2px;
        top: 8px;
    }
    .right {
        right: 98px;
    }
    .left {
        left: 98px;
    }
}

.signup-btn {
    --background: linear-gradient(90deg, #4573d6 0%, #244da7 100%);
    --border-radius: 20px;
    height: 40px;
}

.login {
    text-align: center;
    font-size: 14px;
    margin-top: 16px;
    a {
        color: #244da7;
        font-weight: 400;
        margin-left: 5px;
    }
}