.walkthrough-slides .info-col .info-wrapper .item-img {
  height: 60px;
  width: 60px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  margin: 10px;
  display: inline-block;
  text-align: center;

  img {
    margin: 20%;
  }
}

.info-footer div {
  text-align: center;
}

.info-footer div ion-note {
  vertical-align: top;
}

.info-footer div hr {
  display: inline-block;
  background: rgba(0, 0, 0, 0.1);
  width: 20%;
}

.info-wrapper .item-native,
.info-wrapper .item-inner {
  padding: 0px;
}

.walkthrough-slides .info-col .info-wrapper {
  .ion-padding {
    padding-left: 0px;
  }
}

.button-circle-custom-right {
  float: right;
  margin: 30px;
  height: 75px;
  width: 75px;
}

.row-button {
  margin-top: 50px;
}

.grid-authentication {
  margin-top: 20px;

  .avatar {
    height: auto;
    width: auto;
  }

  .avatar-img {
    height: 75px;
    width: 75px;
  }
}

.button-footer-floating {
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
}
// Template

// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-broad-margin);
  --page-background: var(--app-background);

  --page-swiper-pagination-space: 40px;
  --page-swiper-pagination-height: 18px;
  --page-pagination-bullet-size: 10px;

  --page-first-slide-background: #c1ebff;
  --page-second-slide-background: #a9ebd2;
  --page-third-slide-background: #f0cbe5;
  --page-last-slide-background: #eef3ff;

  --page-vector-decoration-fill: var(--ion-color-light-shade);
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
ion-header {
  ion-toolbar {
    --ion-toolbar-background: transparent;

    // For the skip button
    ion-button {
      --color: var(--ion-color-lightest);
    }
  }
}

ion-content {
  // To get the ion-content behind the ion-header
  position: absolute;
  top: 0;
}

.walkthrough-slides {
  --bullet-background: var(--ion-color-dark);
  --bullet-background-active: var(--ion-color-dark);

  height: 100%;

  .slide-inner-row {
    height: 100%;
    width: 100%;
    padding: 0px;
    // Header space
    padding-top: var(--app-header-height);
    // .swiper-pagination space
    border-bottom: var(--page-swiper-pagination-space) solid transparent;
    background-clip: padding-box;
    background-color: var(--page-vector-decoration-fill);
  }
}

.illustration-and-decoration-slide {
  .slide-inner-row {
    --ion-grid-column-padding: 0px;

    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .illustration-col {
    flex-grow: 0;
    flex-shrink: 0;
    min-height: auto;
    min-height: fit-content;
    max-width: 60vh;
    padding: 0px;
    margin-top: 15px;
  }

  .decoration-col {
    flex-grow: 0;
    flex-shrink: 1;

    // To prevent transparent line caused by pixel fractions
    min-height: 12vh;
    transform: translate3d(0px, 0px, 0px);

    .vector-decoration {
      fill: currentColor;
      color: var(--page-vector-decoration-fill);
      background-color: var(--page-background);
      padding-bottom: 4px;

      // To prevent transparent line caused by pixel fractions
      transform: translate3d(0px, 0px, 0px);
      shape-rendering: geometricprecision;
      height: calc(100% + 1px);
    }
  }

  .info-welcome {
    padding: 0px 20px;
  }

  .info-col {
    flex-grow: 1;
    flex-shrink: 0;
    min-height: auto;
    background-color: var(--page-background);

    // To prevent transparent line caused by pixel fractions
    margin-bottom: -1px;
    // Prevent .info-wrapper text to blink as it's over the previous element (Safari issue)
    transform: translate3d(0px, 0px, 0px);

    .info-wrapper {
      margin: calc(var(--page-margin) * -1) var(--page-margin) 0px;
      text-align: left;

      .info-title {
        margin: 0px;
        margin-bottom: var(--page-margin);
        color: var(--ion-color-dark);
      }

      .info-paragraph {
        color: var(--ion-color-medium-shade);
        font-size: 14px;
        margin: 0px 0px calc(var(--page-margin) / 2);

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
}

.first-slide {
  --page-vector-decoration-fill: var(--page-first-slide-background);
}

.second-slide {
  --page-vector-decoration-fill: var(--page-second-slide-background);
}

.third-slide {
  --page-vector-decoration-fill: var(--page-third-slide-background);
}

.last-slide {
  --page-vector-decoration-fill: var(--page-last-slide-background);

  .slide-inner-row {
    // In the last slide .swiper-pagination is hidden
    border-width: 0px;
  }

  .info-col {
    // padding: var(--page-margin);

    .info-outer {
      height: 100%;
      align-items: flex-end;
      flex-direction: column;

      .info-wrapper {
        margin: calc(var(--page-margin) * -1) 0px 0px;
      }

      .call-to-actions-wrapper {
        max-height: fit-content;
      }
    }

    .get-started-button {
      margin: 0px;
    }

    .alt-call-to-action-row {
      padding-top: 5px;
      align-items: center;
      justify-content: space-evenly;

      .cta-leading-text {
        color: var(--ion-color-medium);
        font-size: 16px;
      }

      .login-button {
        --color: var(--ion-color-secondary);

        margin: 0px;
      }
    }
  }
}
